<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-theme.min.css">
    <link rel='stylesheet' href="dist/assets/css/style.css" type="text/css">
    <script src="lib/zepto.js" ></script>
    
  </head>
  <body>
    <div class="container">
        {{{body}}}
    </div>
    <script type="text/javascript" src="lib/template.js"></script>
    <script type="text/javascript" src="javascripts/preloading.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
  </body>

</html>